<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset:"UTF-8">
    <title>Chefs Pantry</title>
    <link rel="stylesheet" href="{% static 'ClassApp/style.css' %}">

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">Login</a>
</div>
    <span style="float:right;">
    {% if user.username %}
        <span class="large-font">Hello {{ user.username }}!</span><br>
        <a href="{% url 'logout' %}"><button>logout</button></a>
    {% else %}
        <span class="large-font">Hello Guest User!</span><br>
        <a href="{% url 'login' %}"><button>login</button></a>/
        <a href="{% url 'register_user' %}"><button>register</button></a>
    {% endif %}
</span>

</head>

<body>
{% block content %}
    <!-- PageContent -->
{% endblock %}
<div id="footer">
        ©2023 Pantry Chef. All Rights Reserved
    </div>
</body>
</html>