<!DOCTYPE html>
{% load static %}
<html lang="en">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="pull-left"><img src='{% static "ClassApp/CBSLogo.png" %}'></a>
        <a class="navbar-brand" href="#">Pantry Chef</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Pantry Chef</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'ClassApp/style.css' %}">
</head>

<body>
{% block content %}
    <!-- PageContent -->
{% endblock %}
<div id="footer">
        ©2023 Pantry Chef. All Rights Reserved
    </div>
</body>
</html>